<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Impostazioni
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<button ion-button block color="danger" (click)="loginUser()" *ngIf="!userProfile">
  <ion-icon name="logo-googleplus"></ion-icon>
  Login with Google
</button>

<ion-item *ngIf="userProfile">
  <ion-avatar item-left>
    <img [src]="userProfile.photoURL">
  </ion-avatar>
  <h2>{{ userProfile.displayName }}</h2>
  <h3>{{ userProfile.email }}</h3>
</ion-item>
</ion-content>