<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <h4 id="login-heading1" style="color:#000000;text-align:center;">
    Effettua il login con il tuo account ClasseViva
  </h4>
  <form id="login-form1" (ngSubmit)="goToVoti()" [formGroup]="login">
    <ion-list id="login-list1">
      <ion-item id="login-input1">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" name="username" placeholder="" formControlName="username"></ion-input>
      </ion-item>
      <ion-item id="login-input2">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="password" name="password" placeholder="" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer1"></div>
    <button id="login-button1" ion-button color="stable" [disabled]="!login.valid">
      Log in
    </button>
  </form>
</ion-content>