<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Voti" tabIcon="list-box" id="tabsController-tab1"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lezione" tabIcon="book" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Impostazioni" tabIcon="settings" id="tabsController-tab3"></ion-tab>
</ion-tabs>