<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <button id="menu-button3" ion-button icon-only color="stable" block icon-right menuClose="" on-click="goToLogin()">
      Logout
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>