<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lezione
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <button ion-button item-right (click)="postRequest()">Schiacciami</button>
</ion-content>